@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Iran-Sans";
    src: url("../fonts/IRANSansWeb_Medium.eot") format("eot");
    src: url("../fonts/IRANSansWeb_Medium.ttf") format("ttf");
    src: url("../fonts/IRANSansWeb_Medium.woff") format("woff");
    src: url("../fonts/IRANSansWeb_Medium.woff2") format("woff2");
  }
}
